<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calculatoooor Magic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>


<h1>{{ title }}</h1>
<form method="post" action="/Calculator/controller/calc.php">
    <p>{{ first }}</p>
    <input type="text" name="FirstNum" title="1">
    <br>
    <p>{{ second }}</p>
    <input type="text" name="SecondNum" title="2">
    <br>
    <p>{{ operand }}</p>
    <br>
    <select type="text" name="Operand" title="3">
        <option value="+" selected>Addition</option>
        <option value="-">Subtraction</option>
        <option value="*">Multiplication</option>
        <option value="/">Division</option>
    </select>
    <button type="SUBMIT" name="Submit" class="btn btn-danger">DO THE SHAKE</button>
</form>

</body>